@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --bg-color-default: #060709;
    --bg-color-default-rgb: 6, 7, 9;

    --color-default: #cfcfcf;
    --color-default-rgb: 207, 207, 207;
    --color-ilumeo: #fa9b1b;
    --color-ilumeo-rgb: 250, 155, 27;
    --color-subtitle: #868e96;

    --color-primary: #1e2733;
    --color-primary-rgb: 30, 39, 51;
    --bg-color-primary: #fe8a00;
    --bg-color-primary-rgb: 254, 138, 0;

    --color-secondary: #ffffff;
    --color-secondary-rgb: 255, 255, 255;
    --bg-color-secondary: #25262b;
    --bg-color-secondary-rgb: 37, 38, 43;

    --bg-color-main: #151f2b;
    --bg-color-main-rgb: 21, 31, 43;

    --shadow-sm: 0 0.125rem 0.25rem rgba(var(--color-ilumeo-rgb), 0.075) !important;
    --shadow: 0 0.5rem 1rem rgba(var(--color-ilumeo-rgb), 0.15) !important;
    --shadow-lg: 0 1rem 3rem rgba(var(--color-ilumeo-rgb), 0.175) !important;

    --shadow-card: 0 0 5px rgba(var(--color-ilumeo-rgb), 1) !important;
    --shadow-image: 0 0 50px rgba(var(--color-ilumeo-rgb), 0.5) !important;
    --shadow-img: 0 0 10px rgba(var(--color-ilumeo-rgb), 1) !important;

    --mantine-color-blue-filled: rgba(var(--bg-color-primary-rgb), 0.9);
    --mantine-color-blue-filled-hover: rgba(var(--bg-color-primary-rgb), 1);
    --mantine-color-body: var(--bg-color-default);
    --mantine-color-black: var(--color-ilumeo);

    --mantine-color-gray-0: var(--bg-color-default);
    --mantine-color-gray-1: var(--bg-color-primary);
    --mantine-color-gray-2: var(--color-ilumeo);
    --mantine-color-gray-3: var(--color-ilumeo);
    --mantine-color-gray-7: var(--color-ilumeo);

    --mantine-color-dimmed: var(--bg-color-primary);

    --mantine-radius-default: 16px;
    --mantine-spacing-md: 17px;

    --app-shell-padding: 20px;
    --button-radius: 10em;

    --mantine-color-text: var(--color-default);

    --mantine-primary-color-filled: var(--bg-color-primary);
    --mantine-primary-color-contrast: var(--color-primary);
    --mantine-primary-color-filled-hover: var(--bg-color-primary);
    --mantine-primary-color-light: rgba(var(--bg-color-primary-rgb), 0.3);
}

div[class*='card'] {
    --mantine-color-text: var(--color-primary);
}

::-webkit-scrollbar {
    width: 22.5px;
}

::-webkit-scrollbar-track {
    background-color: rgba(var(--bg-color-main-rgb), 0.75);
}

::-webkit-scrollbar-thumb {
    border: 5px solid #121922;
    background: rgba(var(--color-ilumeo-rgb), 0.8);
    border-radius: 10em;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--color-ilumeo-rgb), 1);
}

.shadow-none {
    box-shadow: none !important;
}

.shadow-sm {
    box-shadow: var(--shadow-sm);
}

.shadow {
    box-shadow: var(--shadow);
}

.shadow-card {
    box-shadow: var(--shadow-card);
}

.shadow-image {
    box-shadow: var(--shadow-img);
}

.shadow-lg {
    box-shadow: var(--shadow-lg);
}

button:not(:has(img)) {
    --mantine-color-white: var(--color-primary);
}

.mantine-Popover-dropdown {
    --mantine-color-white: rgba(var(--bg-color-default-rgb), 0.95);
}

.mantine-DatePickerInput-day:where([data-first-in-range]) {
    --mantine-primary-color-light-hover: rgba(var(--bg-color-primary-rgb), 0.5);
    --mantine-primary-color-contrast: var(--color-primary);
}

.mantine-DatePickerInput-day:where([data-in-range]) {
    --mantine-primary-color-light-hover: rgba(var(--bg-color-primary-rgb), 0.3);
}

.mantine-InputWrapper-description {
    color: var(--color-subtitle);
    margin-bottom: 7px;
}

.mantine-Menu-dropdown {
    background-color: var(--bg-color-default);
}

.mantine-Menu-dropdown .mantine-focus-auto:hover:not([style*='--mantine-color-red-6']) {
    --menu-item-color: var(--color-primary);
}

.mantine-AppShell-navbar {
    --mantine-spacing-md: 20px;
}

.mantine-TextInput-label,
.mantine-DatePickerInput-label {
    margin-bottom: 9px;
}

.mantine-TextInput-error {
    margin-top: 10px;
}

.mantine-ChartTooltip-tooltip {
    --mantine-color-body: var(--color-secondary);
}

.mantine-BarChart-root {
    --mantine-color-dimmed: var(--color-primary);
}

.mantine-ChartLegend-legendItem:hover {
    color: var(--color-default);
}

div[seriesname='HorasxTrabalhadas'] {
    padding-right: 11px;
}

span.apexcharts-legend-text {
    text-indent: 8px;
}

.mantine-Badge-label {
    color: var(--color-primary);
}

.mantine-Progress-section {
    --mantine-color-blue-filled: var(--color-primary);
}

.mantine-Pagination-root {
    display: flex;
    justify-content: center;
    padding-top: var(--mantine-spacing-md);
    padding-bottom: calc(var(--mantine-spacing-md) * 3);
}

.mantine-Pagination-root button:not([data-active='true']) {
    color: var(--color-default);
}

.mantine-Input-input {
    --input-disabled-bg: rgba(var(--color-default-rgb), 0.25);
}
